<template name="formContainer">
    {{>info}}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-heading">
                    <h3 class="panel-title"> Fill the form in 5 sec to start
                    </h3>
                </div>

                <div class="col-sm-6">
                    <form class="newUser">
                        <label>Make a room with name</label>
                        <br>
                        <input type="text" class="nameSet form-control " placeholder=" Put your name to start chatting"
                               required>
                        <input type="text" class="roomInput form-control" placeholder=" Put your room name to add user"
                               required>
                        <input type="submit" class="nameAdd" value="Enter">
                    </form>
                </div>
                <div class="col-sm-6">
                    <form class="advanceUser">
                        <label>Search a room </label>
                        <br>
                        <input type="text" class="search form-control" placeholder="Search a room" required>
                <span>
                    {{#with searchRoom}}
                        {{> roomResult id=searchRoom.uniqueRoom name=searchRoom.roomName}}
                    {{/with}}
                </span>
                        <input type="submit" class="addRoom">
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>
<template name="info">
    <div class="row hidden-sm-down">
        <div class="card card-inverse col-sm-3" style="background-color: #FFC107">
            <div class="card-block">
                <span class="extend"></span>

                <div class="span-right">
                    <h2>No setup</h2></div>
            </div>
        </div>

        <div class="card card-inverse col-sm-3">
            <div class="card-block">
                <span class="extend"></span>

                <div class="span-right">
                    <h2>Easy to start</h2></div>
            </div>
        </div>
        <div class="card card-inverse col-sm-3" style="background-color: coral">
            <div class="card-block">
                <span class="extend"></span>

                <div class="span-right"><h2>No sign-up</h2></div>
            </div>
        </div>
        <div class="card card-inverse col-sm-3" style="background-color: deepskyblue">
            <div class="card-block">
                <span class="extend"></span>

                <div class="span-right"><h2>Safe to use</h2></div>
            </div>
        </div>
    </div>

</template>

<template name="roomResult">
    <div class="list-group search-result">
        <button type="button" data-toggle="modal" data-target="#exampleModal" class="list-group-item"
                data-id="{{id}}">{{name}}</button>
    </div>
    <div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-danger" role="alert">
                    <h3>The owner of this room is requested for permission</h3>
                </div>
                <div class="well">
                    <h3 class="alert-info">Send request to the owner to add u to this room</h3>

                    <div class="well">
                        <input type="text" class="form-control anyThing"
                               placeholder="Put a name/ anything to recognize u">
                    </div>
                    <button type="submit" id="myStateButton" data-complete-text="Request send!" class="btn btn-primary"
                            autocomplete="off">
                        Request
                    </button>

                </div>

            </div>
        </div>
    </div>
</template>