<template name="home">
    <div id="slideRect">
    </div>
    <div id="wrap">
        <div id="form-container" class="container">
        </div>
    </div>
</template>

<!--------------Template start form---------------------------------------------------------------------------------------------->
<template name="startForm">
    <div class="panel panel-default col-xs-10 col-sm 9 col-sm-push-1 start_form">
        <div class="panel-heading">
            <h4 class="panel-title">Sign in in 10 sec</h4>
        </div>
        <div class="panel-body">
            <form id="new_user">
                <fieldset class="form-group">
                    <input type="text" class="userName form-control" required id="formGroupExampleInput"
                           placeholder="Put UserName">
                </fieldset>
                <fieldset class="form-group">
                    <input type="password" class="form-control pass" required id="formGroupExampleInput2"
                           placeholder="Password">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control roomName" id="formGroupExampleInput2"
                           placeholder="RoomName (optional)">
                </fieldset>
                <button class="btn btn-block btn-danger">Submit</button>
            </form>
        </div>
    </div>

</template>

<!---------------------------------------Template Slide----------------------------------------------------------------------------->
<template name="slide">
    <div id="slideContainer">
        <div class="slideContent">
            <div class="main_content">
                <h1 class="heading animated rubber">Inbox-Y</h1>

                <div id="text-slider" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active" data-interval="10000">
                            <h2 class="info-slide">aaaaaaa</h2>

                        </div>
                        <div class="item" data-interval="5000">
                            <h2 class="info-slide">yyyyy</h2>
                        </div>
                        <div class="item" data-interval="5000">
                            <h2 class="info-slide">item 3</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>