<template name="home">
    <div id="slideRect">
    </div>
    <div id="wrap">
        <div class="container">
            <div class="panel panel-default col-xs-10 col-sm 9 col-sm-push-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Sign in in 10 sec</h4>
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" required id="formGroupExampleInput"
                                   placeholder="Put UserName">
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="password" class="form-control" required id="formGroupExampleInput2"
                                   placeholder="Password">
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="formGroupExampleInput2"
                                   placeholder="RoomName (optional)">
                        </fieldset>
                        <button class="btn btn-block btn-danger">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<!---------------------------------------Template Slide----------------------------------------------------------------------------->
<template name="slide">
    <div id="topleft" class="tri"></div>
    <div id="slideContainer">
        <div class="textAnime ">
            <h1 class="heading animated bounce ">INBOX-Y[]</h1>
            <ul class="texts">
                <li>No set up</li>
                <li> data-out-shuffle="true">Totally free</li>
                <li>No limitation</li>
            </ul>
        </div>
    </div>
    <div id="bottomright" class="tri"></div>
</template>