@import 'variables.less';
@import 'helpers.less';
@import 'lib/elements.less';

@advent_medium: 'AdventPro-Medium', sans-serif;

/* Sticky footer styles
-------------------------------------------------- */

html {
  body {
    font-family: @advent_medium;
    background-color: rgba(75, 0, 255, 0.57);
    .s-alert-box {
      padding: 12px;
      font-family: 'AdventPro-Medium', sans-serif;
    }

    //-----------------------------------------------------------header style----------------------------------------------------------
    #header {
      .navbar-default {
        //background: linear-gradient(to bottom, rgba(144, 139, 128, 0.88) 0%, #868873 54%, #70715A 100%);
        font-size: 1.8vw;
        background: rgba(122, 0, 255, 0.93);
        border: none;
        z-index: 5000;
        line-height: 1;

        #login-other-options {
          a {
            color: black;
          }
        }

        .navbar-nav > li > a {
          color: #251212;
          text-decoration: none;
        }
        .navbar-nav > .active > a {
          background: transparent;
        }
        .navbar-brand {
          color: black;
          font-size: 2.5rem;
          font-weight: bold;
        }
        .notification {
          padding: 12px 8px;
          margin: 0;
          float: left;
          background-color: transparent;
          list-style: none;
          margin-right: 10px;
          a {
            color: white;
          }
        }
        .nav-user {
          float: right;
          margin-right: 4%;
          a {
            color: white;
            background-color: #90B5B5;
            .border-radius(35px);
          }
          a:hover, a:focus {
            background-color: #00BCD4;
            .border-radius(35px);
          }
        }
      }
    }
  }
  #slideRect {
    width: 100%;
    height: 18vw;
    background: rgba(75, 0, 130, 0.35) !important;
    margin: 95px 0 0 0;
    will-change: content;
    box-shadow: 0px 1px 2px 3px #65398E;
    //background: linear-gradient(to bottom, rgba(111, 52, 42, 0.88) 0%, #946535 34%, #8A6231 67%, #A25A26 100%);

    #slideContainer {
      width: 100%;
      z-index: 10;

      .slideContent {
        width: 100%;
        position: relative;
        display: block;
        box-sizing: border-box;
        &:before {
          display: block;
          content: "";
          border-top: 18vw solid #3F535F;
          border-right: 12vw solid transparent;
          width: 0;
          height: 0;
          z-index: 100;
          position: absolute;
          //left: 44%;
          animation: left_center 3s forwards 3s;
          left: 0;
          -webkit-transform: translate(362%);
          -moz-transform: translate(362%);
          -ms-transform: translate(362%);
          -o-transform: translate(362%);
          transform: translate(362%);
        }
        &:after {
          display: block;
          content: "";
          border-bottom: 18vw solid #3F535F;
          border-left: 12vw solid transparent;
          width: 0;
          height: 0;
          z-index: 100;
          position: absolute;
          // right: 44%;
          top: 0;
          animation: right_center 3s forwards 3s;
          right: 0;
          -webkit-transform: translate(-362%);
          -moz-transform: translate(-362%);
          -ms-transform: translate(-362%);
          -o-transform: translate(-362%);
          transform: translate(-362%);

        }
        @keyframes right_center {
          from {
            0% {
              transform: translate(-362%);
            }
          }
          to {
            100% {
              transform: translate(0%);
            }
          }
        }
        @keyframes left_center {
          from {
            0% {
              -webkit-transform: translateX(362%);
              -moz-transform: translateX(362%);
              -ms-transform: translateX(362%);
              -o-transform: translateX(362%);
              transform: translateX(362%);
            }
          }
          to {
            100% {
              -webkit-transform: translate(0%);
              -moz-transform: translate(0%);
              -ms-transform: translate(0%);
              -o-transform: translate(0%);
              transform: translate(0%);
            }
          }
        }
        .main_content {
          display: none;
        }
        h1 {
          font-size: 7.5vw;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: url("images/text_2.jpg");
          background-position: top right;
          text-align: center;
          margin: 0;
          text-transform: uppercase;
        }
        #text-slider {
          height: 7vw;
          .carousel-indicators {
            bottom: -30px;
          }
          h2.info-slide {
            text-align: center;
            margin: 0 auto;
            //text-shadow: 3px 4px rgba(220, 183, 169, 0.55);
            font-family: fantasy;
            text-transform: uppercase;
            margin-top: 1%;
            background: #2C3E5A;
            font-size: 5vw;
            color: white;
          }
        }
      }

    }
  }

  #wrap {
    height: auto !important;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    // background-color: #482020;
    background-color: transparent;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 50px;
      background: url("images/div_3.png");
      background-repeat: no-repeat;
      background-position: center;
      margin: 2vw 0 2vw 0;
    }
    .container {
      .panel-default {
        box-shadow: 3px 4px 2px rgba(80, 55, 55, 0.89);
        background: rgba(61, 63, 86, 0.78);

        .panel-heading {
          background: transparent;
          font-weight: bolder;
          font-size: 2.2vw;
          text-transform: capitalize;
          color: white;
          border-bottom: 2px solid #7F8892;
        }
        .form-group {
          margin-bottom: 15px;
          border: 2px solid #7F8892;
          color: #F3F1F1;
          font-size: 2vw;
          text-transform: uppercase;
          font-family: monospace;
        }
      }
    }
  }
  ////////----------------------------------------for user to chat-------------------------------------------------
  .main {
    margin-bottom: 2%;
    .intro {
      background-color: #9E9E9E;
      color: #fff;
      font-family: fantasy;
      h3 {
        font-size: 1.2em;
        color: #dc143c;
      }
    }
    .showmsg {
      height: 300px;
      background-color: #607D8B;
      color: #fff;
      width: 80%;
      float: left;
      overflow-y: scroll;
      ul.msgList {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin: 0.5%;
          background-color: #31708F;
          padding: 1%;
        }
      }
      p {
        font-family: monospace;
        padding: 1% 0;
        background-color: #a52a2a;
        font-size: 1.2em;
        margin-left: 2%;
        span {
          padding: 1%;
          background-color: #5d5856;
          margin-right: 1%;
        }
      }
      p.replay {
        background-color: #a57a2e;
        margin-left: 4%;
      }
    }
    .UserInfo {
      width: 20%;
      float: left;
      height: 300px;
      .userList {
        height: 300px;
        overflow-y: scroll;
        margin: 0;
        list-style: none;
        color: #111;
        padding: 0;
        overflow-x: hidden;

        .part {
          height: 300px;
          .partTitle {
            text-align: center;
            display: block;
            font-size: 1.5em;
            margin-bottom: 5px;
            border-bottom: 1px solid #9E9E9E;

          }
        }
        li {
          padding: 4%;
          margin-bottom: 2%;
          background-color: #a9a9a9;
          cursor: pointer;
          &:hover {
            background-color: #2c2c27;
            color: #fff;
          }
          &.active {
            background-color: rgba(44, 44, 39, 0.62);
          }
        }
      }
    }
    .messageForm {
      font-size: 1em;
      color: #036;
      width: 100%;
      float: left;
      min-height: 100px;
      textarea {
        width: 100%;
        padding: 1% 0%;
      }
    }
  }
  //-----------------------------------------------------main chat box for user end------------------------------

  //-------------------------------------footer started--------------------------------------------------------------------------
  #footer {
    background: #eee;
    border: 1px solid #666;
    bottom: 0;
    height: 35px;
    left: 0;
    position: fixed;
    width: 100%;
    .container {
      p {
        float: left;
        margin-right: 10px;
      }
      p:last-of-type {
        float: right;
      }
    }
  }
}

//----------------------------------------------------sliide style started=------------------------------------------------




