<template name="index">
    <div id="wrap">
        <div class="container">
            {{#if logged}}
                {{> mainPart}}
            {{else}}
                {{>formContainer}}
            {{/if}}
        </div>
    </div>
</template>

<!--main template finishes-->
<template name="guestAlert">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>{{name}}</strong>{{message}}
        <button type="button" class="btn btn-primary-outline btn-small">check</button>

    </div>
</template>