<template name="mainPart">
    <div class="main panel panel-default">
        <div class="intro panel-heading">
            <h3 class="panel-title">User:{{userData.name}} currently talking in {{userData.room}}</h3>
        </div>
        <div class="panel-body">
            <div class="showmsg ">
                <ul class="msgList">

                </ul>
            </div>
            <div class="UserInfo ">
                <ul class="userList list-group">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval=7000
                         data-pause="hover">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active part">
                                <span class="partTitle">Friend {{getPublishedCount 'guestCount'}}</span>
                                {{#each guestManager.pendingUser }}
                                    <li class="" data-id="{{guestId}}">{{name}}</li>
                                {{/each}}
                            </div>
                            <div class="item part">
                                <span class="partTitle">Guest {{guestManager._id}}</span>
                                {{#each guestManager.pendingUser }}
                                    <li class="" data-id="{{guestId}}">{{name}}</li>
                                {{/each}}

                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </ul>
            </div>
        </div>

        <form class="messageForm">
            <textarea class="msg form-controls" rows="2" placeholder="put a msg" required></textarea>
            <input type="submit" class="btn btn-primary msgSave" value="Enter">
        </form>
    </div>
</template>

